# International Passenger Survey 4.02, main reason for migration by citizenship

Convert all tabs from latest Excel spreadsheet
https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration/internationalmigration/datasets/ipsmainreasonformigrationbycitizenship

In [1]:
%run lib/scrape_ons.ipynb

metadata = scrape('https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration/' \
                  'internationalmigration/datasets/ipsmainreasonformigrationbycitizenship')

Download the spreadsheet and load directly into Pandas.

In [2]:
from databaker.framework import *
import pandas as pd

xls = pd.ExcelFile(BytesIO(session.get(metadata['fileURL']).content))

Now run separate notebooks for each tab in the spreadsheet and collate the results in a single DataFrame.

In [3]:
next_table = pd.DataFrame()

In [4]:
%%capture
%run "LTIM IPS  4.02A Reason for migration.ipynb"
next_table = pd.concat([next_table, Final_table])

%run "LTIM IPS  4.02B Reason for migration.ipynb"
next_table = pd.concat([next_table, Final_table])

%run"LTIM IPS  4.02C Reason for migration.ipynb"
next_table = pd.concat([next_table, Final_table])

%run "LTIM IPS  4.02D Reason for migration.ipynb"
next_table = pd.concat([next_table, Final_table])

In [5]:
next_table.count()

Geography               1339
Year                    1339
Country of Residence    1339
Migration Flow          1339
Reason for migration    1339
Measure Type            1339
Value                   1339
CI                      1339
Unit                    1339
dtype: int64

In [6]:
next_table = next_table[['Geography','Year','Country of Residence','Migration Flow','Reason for migration','Measure Type','Value','CI','Unit']]

In [7]:
next_table.head()

,Geography,Year,Country of Residence,Migration Flow,Reason for migration,Measure Type,Value,CI,Unit
1,K02000001,2016,all,inflow,all reasons,Count,526.6,34.4,People (thousands)
3,K02000001,2016,all,inflow,work related reasons,Count,263.0,23.6,People (thousands)
5,K02000001,2016,all,inflow,definite job,Count,172.3,19.0,People (thousands)
7,K02000001,2016,all,inflow,looking for work,Count,90.6,14.0,People (thousands)
9,K02000001,2016,all,inflow,accompany or join,Count,83.3,12.4,People (thousands)

In [8]:
next_table.tail()

,Geography,Year,Country of Residence,Migration Flow,Reason for migration,Measure Type,Value,CI,Unit
1243,K02000001,2016,zambia,inflow,formal study,Count,2.3,4.6,People (thousands)
1249,K02000001,2016,zimbabwe,inflow,all reasons,Count,0.2,0.3,People (thousands)
1251,K02000001,2016,zimbabwe,inflow,work related reasons,Count,0.1,0.1,People (thousands)
1253,K02000001,2016,zimbabwe,inflow,looking for work,Count,0.1,0.1,People (thousands)
1255,K02000001,2016,zimbabwe,inflow,formal study,Count,0.2,0.3,People (thousands)

In [9]:
out = Path('out')
out.mkdir(exist_ok=True)
next_table.to_csv(out / 'migration_4.02.csv', index = False)

In [10]:
writeMetadata(metadata, 'ONS LTIM Passenger Survey 4.02', 'Migration')