# International Passenger Survey 4.02, main reason for migration by citizenship

Convert all tabs from latest Excel spreadsheet
https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration/internationalmigration/datasets/ipsmainreasonformigrationbycitizenship

In [1]:
%run lib/scrape_ons.ipynb

metadata = scrape('https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration/' \
                  'internationalmigration/datasets/ipsmainreasonformigrationbycitizenship')

Download the spreadsheet and load directly into Pandas.

In [2]:
from databaker.framework import *
import pandas as pd

xls = pd.ExcelFile(BytesIO(session.get(metadata['fileURL']).content))

Now run separate notebooks for each tab in the spreadsheet and collate the results in a single DataFrame.

In [3]:
next_table = pd.DataFrame()

In [4]:
%%capture
%run "LTIM IPS  4.02A Reason for migration.ipynb"
next_table = pd.concat([next_table, Final_table])

%run "LTIM IPS  4.02B Reason for migration.ipynb"
next_table = pd.concat([next_table, Final_table])

%run"LTIM IPS  4.02C Reason for migration.ipynb"
next_table = pd.concat([next_table, Final_table])

%run "LTIM IPS  4.02D Reason for migration.ipynb"
next_table = pd.concat([next_table, Final_table])

In [5]:
next_table.count()

Geography               1339
Year                    1339
Country of Residence    1339
Migration Flow          1339
Reason for migration    1339
Measure Type            1339
Value                   1339
CI                      1339
Unit                    1339
dtype: int64

In [6]:
next_table.columns = ['Citizenship' if x=='Country of Residence' else x for x in next_table.columns]

In [7]:
next_table.count()

Geography               1339
Year                    1339
Citizenship             1339
Migration Flow          1339
Reason for migration    1339
Measure Type            1339
Value                   1339
CI                      1339
Unit                    1339
dtype: int64

In [8]:
next_table = next_table[['Geography','Year','Citizenship','Migration Flow','Reason for migration','Measure Type','Value','CI','Unit']]

Fix up some values from `Reason for migration` for consistency/harmonisation.

In [9]:
next_table['Reason for migration'] = next_table['Reason for migration'].map(
    lambda x: {
        'definite job': 'work related definite job',
        'looking for work': 'work related looking for work',
        'work related reasons': 'work related all',
        'other reasons': 'other'
    }.get(x, x))

In [10]:
next_table['Reason for migration'] = next_table['Reason for migration'].map(
    lambda x: {
            'all reasons':'all-reasons',
            'work related all' : 'work-related-reasons',
            'work related definite job': 'definite-job',
            'work related looking for work': 'looking-for-work',
            'accompany or join': 'accompany-or-join',
           ' formal study': 'formal-study',
            'going home to live' : 'going-home-to-live',
            'other' : 'other-reasons',
            'no reason stated' : 'no-reason-stated',
            'all reasons' : 'all-reasons',
            'work related all' : 'work-related-reasons',
            'work related definite job' : 'definite-job',
            'work related looking for work' :  'looking-for-work',
            'accompany or join' : 'accompany-or-join',
            'formal study' :  'formal-study',
            'going home to live': 'going-home-to-live',
            'other' : 'other-reasons',
            'no reason stated': 'no-reason-stated'
         }.get(x, x))

In [11]:
next_table['Citizenship'] = next_table['Citizenship'].map(lambda cell: cell.replace('korea, south / republic', 'korea south republic'))

In [12]:
next_table['Citizenship'] = next_table['Citizenship'].map(lambda cell: cell.replace('cambodia / kampuchea', 'cambodia kampuchea'))

In [13]:
next_table['Citizenship'] = next_table['Citizenship'].map(lambda cell: cell.replace('myanmar / burma', 'myanmar burma'))

In [14]:
next_table['Citizenship'] = next_table['Citizenship'].map(lambda cell: cell.replace('cyprus, southern', 'cyprus southern'))

In [15]:
next_table['Citizenship'] = next_table['Citizenship'].map(lambda cell: cell.replace(' ', '-'))

In [16]:
next_table['Citizenship'].unique()

array(['all', 'british', 'non-british', 'british-or-british-overseas',
       'not-british-or-british-overseas', 'eu', 'eu15', 'eu8', 'eu2',
       'eea', 'efta', 'non-eu', 'cw', 'old-cw', 'new-cw',
       'non-eu-and-non-cw', 'europe-inc-eu-exc-british',
       'europe-exc-eu-and-british', 'asia', 'middle-east-and-central-asia',
       'east-asia', 'south-asia', 'south-east-asia', 'rest-of-world',
       'north-africa', 'sub-saharan-africa', 'north-america',
       'central-and-south-america', 'oceania', 'afghanistan', 'albania',
       'algeria', 'australia', 'austria', 'bangladesh', 'belgium',
       'belize', 'botswana', 'brazil', 'brunei', 'bulgaria',
       'cambodia-kampuchea', 'canada', 'chile', 'china', 'colombia',
       'congo', 'costa-rica', 'croatia', 'cuba', 'cyprus-southern',
       'czech-republic', 'denmark', 'dominican-republic', 'ecuador',
       'egypt', 'eritrea', 'estonia', 'ethiopia', 'finland', 'france',
       'germany', 'ghana', 'greece', 'guinea', 'hong-kong', 'hungary',
       'iceland', 'india', 'indonesia', 'iran', 'iraq', 'israel', 'italy',
       'jamaica', 'japan', 'jordan', 'kazakhstan', 'kenya',
       'korea-south-republic', 'kosova', 'kuwait', 'latvia', 'lebanon',
       'lithuania', 'luxembourg', 'macao', 'madagascar', 'malawi',
       'malaysia', 'maldives', 'mali', 'mauritius', 'mexico', 'mongolia',
       'morocco', 'namibia', 'nepal', 'netherlands', 'new-zealand',
       'nigeria', 'norway', 'oman', 'pakistan', 'palestine', 'paraguay',
       'peru', 'philippines', 'poland', 'portugal', 'qatar',
       'republic-of-ireland', 'romania', 'russia', 'saudi-arabia',
       'serbia', 'singapore', 'slovakia', 'slovenia', 'south-africa',
       'spain', 'sri-lanka', 'sudan', 'sweden', 'switzerland', 'syria',
       'taiwan', 'tanzania', 'thailand', 'trinidad-and-tobago', 'tunisia',
       'turkey', 'turks-and-caicos-islands', 'ukraine',
       'united-arab-emirates', 'usa', 'uzbekistan', 'venezuela', 'vietnam',
       'zambia', 'zimbabwe'], dtype=object)

In [17]:
next_table.head()

,Geography,Year,Citizenship,Migration Flow,Reason for migration,Measure Type,Value,CI,Unit
1,K02000001,2016,all,inflow,all-reasons,Count,526.6,34.4,People (thousands)
3,K02000001,2016,all,inflow,work-related-reasons,Count,263.0,23.6,People (thousands)
5,K02000001,2016,all,inflow,definite-job,Count,172.3,19.0,People (thousands)
7,K02000001,2016,all,inflow,looking-for-work,Count,90.6,14.0,People (thousands)
9,K02000001,2016,all,inflow,accompany-or-join,Count,83.3,12.4,People (thousands)

In [18]:
next_table.tail()

,Geography,Year,Citizenship,Migration Flow,Reason for migration,Measure Type,Value,CI,Unit
1243,K02000001,2016,zambia,inflow,formal-study,Count,2.3,4.6,People (thousands)
1249,K02000001,2016,zimbabwe,inflow,all-reasons,Count,0.2,0.3,People (thousands)
1251,K02000001,2016,zimbabwe,inflow,work-related-reasons,Count,0.1,0.1,People (thousands)
1253,K02000001,2016,zimbabwe,inflow,looking-for-work,Count,0.1,0.1,People (thousands)
1255,K02000001,2016,zimbabwe,inflow,formal-study,Count,0.2,0.3,People (thousands)

In [19]:
out = Path('out')
out.mkdir(exist_ok=True)
next_table.to_csv(out / 'migration_4.02.csv', index = False)

In [20]:
writeMetadata(metadata, 'ONS LTIM Passenger Survey 4.02', 'Migration')