Datasheet 4.02A: Migration to and from United Kingdom by main reason for migration by citizenship groups

In [1]:
from gssutils import *

if is_interactive():
    scraper = Scraper('https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration/' \
                  'internationalmigration/datasets/ipsmainreasonformigrationbycitizenship')

In [2]:
df1 = scraper.distribution().as_pandas(header=7, sheet_name='Datasheet 4.02A')

In [3]:
df1

,Software Readable Column Label (See Notes),Unnamed: 1,Row Label,CIT All EST,CIT All CI,CIT British EST,CIT British CI,CIT Non-British EST,CIT Non-British CI,CIT British or British Overseas EST,...,CIT Sub-Saharan Africa EST,CIT Sub-Saharan Africa CI,CIT North America EST,CIT North America CI,CIT Central and South America EST,CIT Central and South America CI,CIT Oceania EST,CIT Oceania CI,CIT Stateless EST,CIT Stateless CI
0,Inflow,All reasons,"INFLOW, All reasons",526.6,34.4,71.7,13.9,454.9,31.5,72.9,...,21.3,7.7,20.3,5,13.7,6.6,16.7,4.3,.,.
1,NaN,Work related reasons,"INFLOW, Work related reasons",263.0,23.6,34.8,8.0,228.1,22.2,36.0,...,4.6,2.6,7.8,2.8,3.5,2.9,13.7,4,.,.
2,NaN,Definite job,"INFLOW, Definite job",172.3,19.0,19.1,6.3,153.2,17.9,19.1,...,2.1,1.4,6.6,2.6,2.3,2.4,5.6,2.4,.,.
3,NaN,Looking for work,"INFLOW, Looking for work",90.6,14.0,15.7,5.0,74.9,13.1,16.9,...,2.6,2.3,1.1,1,1.2,1.7,8.1,3.2,.,.
4,NaN,Accompany / Join,"INFLOW, Accompany or Join",83.3,12.4,6.1,3.5,77.2,11.9,6.1,...,7.6,4,4.4,2.4,2.5,2,0.8,0.8,.,.
5,NaN,Formal study,"INFLOW, Formal study",132.0,17.9,7.4,4.7,124.6,17.3,7.4,...,8.6,6,6.2,2.9,7.4,5.5,0.3,0.5,.,.
6,NaN,Going home to live,"INFLOW, Going home to live",19.1,9.3,18.8,9.3,0.3,0.6,18.8,...,.,.,.,.,.,.,.,.,.,.
7,NaN,Other reasons,"INFLOW, Other reasons",17.1,5.2,3.2,2.5,13.9,4.6,3.2,...,.,.,1.8,1.6,.,.,1.8,1.1,.,.
8,NaN,No reason stated,"INFLOW, No reason stated",12.0,6.1,1.3,1.3,10.7,6.0,1.3,...,0.5,0.7,0.2,0.3,0.2,0.4,0,0.1,.,.
9,Outflow,All reasons,"OUTFLOW, All reasons",-315.8,23.0,-121.0,12.8,-194.7,19.1,-121.0,...,-3.7,3,-16.1,5.5,-3.5,1.8,-8.9,2.8,.,.
10,NaN,Work related reasons,"OUTFLOW, Work related reasons",-171.0,15.1,-65.3,9.3,-105.7,11.9,-65.3,...,-3.1,2.9,-8.8,3.9,-2.9,1.7,-5.8,2.2,.,.
11,NaN,Definite job,"OUTFLOW, Definite job",-110.0,12.7,-52.5,8.4,-57.5,9.6,-52.5,...,-1.9,2.7,-5.4,3.4,-1,0.8,-3.1,1.7,.,.
12,NaN,Looking for work,"OUTFLOW, Looking for work",-61.1,8.1,-12.8,3.9,-48.2,7.1,-12.8,...,-1.2,1,-3.4,1.8,-2,1.5,-2.8,1.3,.,.
13,NaN,Accompany / Join,"OUTFLOW, Accompany or Join",-23.9,5.7,-14.3,4.0,-9.6,4.1,-14.3,...,.,.,-3.8,3,.,.,-0.2,0.4,.,.
14,NaN,Formal study,"OUTFLOW, Formal study",-19.8,5.6,-7.2,2.9,-12.7,4.8,-7.2,...,-0.4,0.5,-0.9,1,-0.3,0.4,-0.4,0.7,.,.
15,NaN,Going home to live,"OUTFLOW, Going home to live",-53.2,12.7,-1.5,1.6,-51.8,12.6,-1.5,...,-0.3,0.6,-2.3,2.2,.,.,-1,0.9,.,.
16,NaN,Other reasons,"OUTFLOW, Other reasons",-22.8,4.9,-16.6,4.1,-6.2,2.7,-16.6,...,.,.,-0.1,0.2,-0.2,0.3,-1.2,1.4,.,.
17,NaN,No reason stated,"OUTFLOW, No reason stated",-24.9,7.2,-16.2,5.8,-8.7,4.2,-16.2,...,.,.,-0.1,0.3,.,.,-0.3,0.4,.,.
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Source: Office for National Statistics (ONS).,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Totals may not sum due to rounding.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,"""z"" - Not applicable, ""."" - No contact, ""0~"" -...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Migration between the UK and the Republic of I...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,1 European Union estimates are for the EU15 (...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2 Includes European Union countries as define...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,3 Includes European Union countries as define...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,4 Excludes citizens of European Union countri...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,"5 From 2004 onwards, All and New Commonwealth...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Care should be taken when comparing inflow and...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,This table uses 95% confidence intervals (CI) ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Published on 30 November 2017 by the Office fo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,© Crown copyright. You may re-use this informa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,"To view this licence, go to: http://www.nation...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,"or write to the Information Policy Team, The N...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
observations = df1.iloc[:, 2:]
observations.head()

,Row Label,CIT All EST,CIT All CI,CIT British EST,CIT British CI,CIT Non-British EST,CIT Non-British CI,CIT British or British Overseas EST,CIT British or British Overseas CI,CIT Not British or British Overseas EST,...,CIT Sub-Saharan Africa EST,CIT Sub-Saharan Africa CI,CIT North America EST,CIT North America CI,CIT Central and South America EST,CIT Central and South America CI,CIT Oceania EST,CIT Oceania CI,CIT Stateless EST,CIT Stateless CI
0,"INFLOW, All reasons",526.6,34.4,71.7,13.9,454.9,31.5,72.9,14.1,453.7,...,21.3,7.7,20.3,5,13.7,6.6,16.7,4.3,.,.
1,"INFLOW, Work related reasons",263.0,23.6,34.8,8.0,228.1,22.2,36.0,8.3,226.9,...,4.6,2.6,7.8,2.8,3.5,2.9,13.7,4,.,.
2,"INFLOW, Definite job",172.3,19.0,19.1,6.3,153.2,17.9,19.1,6.3,153.2,...,2.1,1.4,6.6,2.6,2.3,2.4,5.6,2.4,.,.
3,"INFLOW, Looking for work",90.6,14.0,15.7,5.0,74.9,13.1,16.9,5.5,73.7,...,2.6,2.3,1.1,1,1.2,1.7,8.1,3.2,.,.
4,"INFLOW, Accompany or Join",83.3,12.4,6.1,3.5,77.2,11.9,6.1,3.5,77.2,...,7.6,4,4.4,2.4,2.5,2,0.8,0.8,.,.

In [5]:
new_table = pd.melt(observations,
                       ["Row Label"],
                       var_name="Column label",
                       value_name="Value")

In [6]:
new_table.head(50)

                        Row Label Column label  Value
0             INFLOW, All reasons  CIT All EST  526.6
1    INFLOW, Work related reasons  CIT All EST    263
2            INFLOW, Definite job  CIT All EST  172.3
3        INFLOW, Looking for work  CIT All EST   90.6
4       INFLOW, Accompany or Join  CIT All EST   83.3
5            INFLOW, Formal study  CIT All EST    132
6      INFLOW, Going home to live  CIT All EST   19.1
7           INFLOW, Other reasons  CIT All EST   17.1
8        INFLOW, No reason stated  CIT All EST     12
9            OUTFLOW, All reasons  CIT All EST -315.8
10  OUTFLOW, Work related reasons  CIT All EST   -171
11          OUTFLOW, Definite job  CIT All EST   -110
12      OUTFLOW, Looking for work  CIT All EST  -61.1
13     OUTFLOW, Accompany or Join  CIT All EST  -23.9
14          OUTFLOW, Formal study  CIT All EST  -19.8
15    OUTFLOW, Going home to live  CIT All EST  -53.2
16         OUTFLOW, Other reasons  CIT All EST  -22.8
17      OUTFLOW, No reason stated  CIT All EST  -24.9
18                            NaN  CIT All EST    NaN
19                            NaN  CIT All EST    NaN
20                            NaN  CIT All EST    NaN
21                            NaN  CIT All EST    NaN
22                            NaN  CIT All EST    NaN
23                            NaN  CIT All EST    NaN
24                            NaN  CIT All EST    NaN
25                            NaN  CIT All EST    NaN
26                            NaN  CIT All EST    NaN
27                            NaN  CIT All EST    NaN
28                            NaN  CIT All EST    NaN
29                            NaN  CIT All EST    NaN
30                            NaN  CIT All EST    NaN
31                            NaN  CIT All EST    NaN
32                            NaN  CIT All EST    NaN
33                            NaN  CIT All EST    NaN
34                            NaN  CIT All EST    NaN
35                            NaN  CIT All EST    NaN
36                            NaN  CIT All EST    NaN
37                            NaN  CIT All EST    NaN
38                            NaN  CIT All EST    NaN
39                            NaN  CIT All EST    NaN
40                            NaN  CIT All EST    NaN
41            INFLOW, All reasons   CIT All CI   34.4
42   INFLOW, Work related reasons   CIT All CI   23.6
43           INFLOW, Definite job   CIT All CI     19
44       INFLOW, Looking for work   CIT All CI     14
45      INFLOW, Accompany or Join   CIT All CI   12.4
46           INFLOW, Formal study   CIT All CI   17.9
47     INFLOW, Going home to live   CIT All CI    9.3
48          INFLOW, Other reasons   CIT All CI    5.2
49       INFLOW, No reason stated   CIT All CI    6.1

In [7]:
new_table.shape

(2460, 3)

In [8]:
new_table.dropna(inplace=True)

In [9]:
new_table = new_table[new_table['Value'] != '.']

In [10]:
new_table = new_table[new_table['Value'] != '0']

In [11]:
new_table.head(50)

                        Row Label     Column label  Value
0             INFLOW, All reasons      CIT All EST  526.6
1    INFLOW, Work related reasons      CIT All EST    263
2            INFLOW, Definite job      CIT All EST  172.3
3        INFLOW, Looking for work      CIT All EST   90.6
4       INFLOW, Accompany or Join      CIT All EST   83.3
5            INFLOW, Formal study      CIT All EST    132
6      INFLOW, Going home to live      CIT All EST   19.1
7           INFLOW, Other reasons      CIT All EST   17.1
8        INFLOW, No reason stated      CIT All EST     12
9            OUTFLOW, All reasons      CIT All EST -315.8
10  OUTFLOW, Work related reasons      CIT All EST   -171
11          OUTFLOW, Definite job      CIT All EST   -110
12      OUTFLOW, Looking for work      CIT All EST  -61.1
13     OUTFLOW, Accompany or Join      CIT All EST  -23.9
14          OUTFLOW, Formal study      CIT All EST  -19.8
15    OUTFLOW, Going home to live      CIT All EST  -53.2
16         OUTFLOW, Other reasons      CIT All EST  -22.8
17      OUTFLOW, No reason stated      CIT All EST  -24.9
41            INFLOW, All reasons       CIT All CI   34.4
42   INFLOW, Work related reasons       CIT All CI   23.6
43           INFLOW, Definite job       CIT All CI     19
44       INFLOW, Looking for work       CIT All CI     14
45      INFLOW, Accompany or Join       CIT All CI   12.4
46           INFLOW, Formal study       CIT All CI   17.9
47     INFLOW, Going home to live       CIT All CI    9.3
48          INFLOW, Other reasons       CIT All CI    5.2
49       INFLOW, No reason stated       CIT All CI    6.1
50           OUTFLOW, All reasons       CIT All CI     23
51  OUTFLOW, Work related reasons       CIT All CI   15.1
52          OUTFLOW, Definite job       CIT All CI   12.7
53      OUTFLOW, Looking for work       CIT All CI    8.1
54     OUTFLOW, Accompany or Join       CIT All CI    5.7
55          OUTFLOW, Formal study       CIT All CI    5.6
56    OUTFLOW, Going home to live       CIT All CI   12.7
57         OUTFLOW, Other reasons       CIT All CI    4.9
58      OUTFLOW, No reason stated       CIT All CI    7.2
82            INFLOW, All reasons  CIT British EST   71.7
83   INFLOW, Work related reasons  CIT British EST   34.8
84           INFLOW, Definite job  CIT British EST   19.1
85       INFLOW, Looking for work  CIT British EST   15.7
86      INFLOW, Accompany or Join  CIT British EST    6.1
87           INFLOW, Formal study  CIT British EST    7.4
88     INFLOW, Going home to live  CIT British EST   18.8
89          INFLOW, Other reasons  CIT British EST    3.2
90       INFLOW, No reason stated  CIT British EST    1.3
91           OUTFLOW, All reasons  CIT British EST   -121
92  OUTFLOW, Work related reasons  CIT British EST  -65.3
93          OUTFLOW, Definite job  CIT British EST  -52.5
94      OUTFLOW, Looking for work  CIT British EST  -12.8
95     OUTFLOW, Accompany or Join  CIT British EST  -14.3

In [12]:
new_table.count()

Row Label       964
Column label    964
Value           964
dtype: int64

In [13]:
new_table['Country of Residence'] = new_table['Column label'].replace(to_replace= r"CIT (.*)(EST|CI )$", value = "\\1", regex=True)
new_table['measure'] = new_table['Column label'].replace(to_replace= r".* (EST|CI )$", value = "\\1", regex=True)
new_table['Country of Residence'] = new_table['Country of Residence'].str.lower()
new_table['Country of Residence'] = new_table['Country of Residence'].str.strip()
new_table['measure'] = new_table['measure'].str.lower()
new_table['measure'] = new_table['measure'].str.strip()
# new_table['Country of Residence'] = new_table['Country of Residence'].replace(to_replace= r" ", value = "-", regex=True)
# new_table['codelist'] = new_table['Column label'].str[0:4]
# new_table['codelist'] = new_table['codelist'].str.lower()
new_table['Row Label'] = new_table['Row Label'].str.lower()
temp_table = new_table['Row Label'].str.split(',', -1, expand=True)
new_table['Migration Flow'] = temp_table[0]
new_table['Reason for migration'] = temp_table[1]
new_table['Migration Flow'] = new_table['Migration Flow'].str.strip()
# new_table['Migration Flow'] = new_table['Migration Flow'].replace(to_replace= r" ", value = ":", regex=True)
new_table['Reason for migration'] = new_table['Reason for migration'].str.strip()
# new_table['Reason for migration'] = new_table['Reason for migration'].replace(to_replace= r" ", value = "-", regex=True)
new_table['Geography'] = 'K02000001'
new_table['Unit'] = 'People (thousands)'
new_table['Measure Type'] = 'Count'
new_table['Year'] = '2016'
temp_table = new_table[:]
temp_table['Keys'] = temp_table['Row Label'] + '/' + temp_table['Column label']
temp_table['Keys'] = temp_table['Keys'].str.strip()
temp_table['Keys2'] = temp_table['Keys'].str.rstrip('EST')
temp_table['Keys2'] = temp_table['Keys2'].str.rstrip('CI')
temp_table['Keys2'] = temp_table['Keys2'].str.strip()
Final_table = pd.merge(temp_table, temp_table[['Keys2','Value','measure']], how = 'left', left_on = 'Keys2', right_on = 'Keys2')
Final_table = Final_table[Final_table['measure_x'] != Final_table['measure_y']]
Final_table = Final_table.drop_duplicates('Keys2', keep = 'first')
Final_table.columns = ['Value' if x=='Value_x' else x for x in Final_table.columns]
Final_table.columns = ['CI' if x=='Value_y' else x for x in Final_table.columns]
Final_table['Value'] = Final_table['Value'].astype(float)
Final_table['Year'] = Final_table['Year'].astype(int)
Final_table['CI'] = Final_table['CI'].astype(float)
Final_table = Final_table[['Geography','Year','Country of Residence','Migration Flow','Reason for migration','Measure Type','Value','CI','Unit']]

/home/alex/.virtualenvs/databaker/lib/python3.6/site-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/alex/.virtualenvs/databaker/lib/python3.6/site-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/alex/.virtualenvs/databaker/lib/python3.6/site-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/alex/.virtualenvs/databaker/lib/python3.6/site-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/alex/.virtualenvs/databaker/lib/python3.6/site-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [14]:
Final_table

,Geography,Year,Country of Residence,Migration Flow,Reason for migration,Measure Type,Value,CI,Unit
1,K02000001,2016,all,inflow,all reasons,Count,526.6,34.4,People (thousands)
3,K02000001,2016,all,inflow,work related reasons,Count,263.0,23.6,People (thousands)
5,K02000001,2016,all,inflow,definite job,Count,172.3,19.0,People (thousands)
7,K02000001,2016,all,inflow,looking for work,Count,90.6,14.0,People (thousands)
9,K02000001,2016,all,inflow,accompany or join,Count,83.3,12.4,People (thousands)
11,K02000001,2016,all,inflow,formal study,Count,132.0,17.9,People (thousands)
13,K02000001,2016,all,inflow,going home to live,Count,19.1,9.3,People (thousands)
15,K02000001,2016,all,inflow,other reasons,Count,17.1,5.2,People (thousands)
17,K02000001,2016,all,inflow,no reason stated,Count,12.0,6.1,People (thousands)
19,K02000001,2016,all,outflow,all reasons,Count,-315.8,23.0,People (thousands)
21,K02000001,2016,all,outflow,work related reasons,Count,-171.0,15.1,People (thousands)
23,K02000001,2016,all,outflow,definite job,Count,-110.0,12.7,People (thousands)
25,K02000001,2016,all,outflow,looking for work,Count,-61.1,8.1,People (thousands)
27,K02000001,2016,all,outflow,accompany or join,Count,-23.9,5.7,People (thousands)
29,K02000001,2016,all,outflow,formal study,Count,-19.8,5.6,People (thousands)
31,K02000001,2016,all,outflow,going home to live,Count,-53.2,12.7,People (thousands)
33,K02000001,2016,all,outflow,other reasons,Count,-22.8,4.9,People (thousands)
35,K02000001,2016,all,outflow,no reason stated,Count,-24.9,7.2,People (thousands)
73,K02000001,2016,british,inflow,all reasons,Count,71.7,13.9,People (thousands)
75,K02000001,2016,british,inflow,work related reasons,Count,34.8,8.0,People (thousands)
77,K02000001,2016,british,inflow,definite job,Count,19.1,6.3,People (thousands)
79,K02000001,2016,british,inflow,looking for work,Count,15.7,5.0,People (thousands)
81,K02000001,2016,british,inflow,accompany or join,Count,6.1,3.5,People (thousands)
83,K02000001,2016,british,inflow,formal study,Count,7.4,4.7,People (thousands)
85,K02000001,2016,british,inflow,going home to live,Count,18.8,9.3,People (thousands)
87,K02000001,2016,british,inflow,other reasons,Count,3.2,2.5,People (thousands)
89,K02000001,2016,british,inflow,no reason stated,Count,1.3,1.3,People (thousands)
91,K02000001,2016,british,outflow,all reasons,Count,-121.0,12.8,People (thousands)
93,K02000001,2016,british,outflow,work related reasons,Count,-65.3,9.3,People (thousands)
95,K02000001,2016,british,outflow,definite job,Count,-52.5,8.4,People (thousands)
...,...,...,...,...,...,...,...,...,...
1809,K02000001,2016,central and south america,inflow,all reasons,Count,13.7,6.6,People (thousands)
1811,K02000001,2016,central and south america,inflow,work related reasons,Count,3.5,2.9,People (thousands)
1813,K02000001,2016,central and south america,inflow,definite job,Count,2.3,2.4,People (thousands)
1815,K02000001,2016,central and south america,inflow,looking for work,Count,1.2,1.7,People (thousands)
1817,K02000001,2016,central and south america,inflow,accompany or join,Count,2.5,2.0,People (thousands)
1819,K02000001,2016,central and south america,inflow,formal study,Count,7.4,5.5,People (thousands)
1821,K02000001,2016,central and south america,inflow,no reason stated,Count,0.2,0.4,People (thousands)
1823,K02000001,2016,central and south america,outflow,all reasons,Count,-3.5,1.8,People (thousands)
1825,K02000001,2016,central and south america,outflow,work related reasons,Count,-2.9,1.7,People (thousands)
1827,K02000001,2016,central and south america,outflow,definite job,Count,-1.0,0.8,People (thousands)
1829,K02000001,2016,central and south america,outflow,looking for work,Count,-2.0,1.5,People (thousands)
1831,K02000001,2016,central and south america,outflow,formal study,Count,-0.3,0.4,People (thousands)
1833,K02000001,2016,central and south america,outflow,other reasons,Count,-0.2,0.3,People (thousands)
1861,K02000001,2016,oceania,inflow,all reasons,Count,16.7,4.3,People (thousands)
1863,K02000001,2016,oceania,inflow,work related reasons,Count,13.7,4.0,People (thousands)
1865,K02000001,2016,oceania,inflow,definite job,Count,5.6,2.4,People (thousands)
1867,K02000001,2016,oceania,inflow,looking for work,Count,8.1,3.2,People (thousands)
1869,K02000001,2016,oceania,inflow,accompany or join,Count,0.8,0.8,People (thousands)
1871,K02000001,2016,oceania,inflow,formal study,Count,0.3,0.5,People (thousands)
1873,K02000001,2016,oceania,inflow,other reasons,Count,1.8,1.1,People (thousands)
1875,K02000001,2016,oceania,inflow,no reason stated,Count,0.0,0.1,People (thousands)
1877,K02000001,2016,oceania,outflow,all reasons,Count,-8.9,2.8,People (thousands)
1879,K02000001,2016,oceania,outflow,work related reasons,Count,-5.8,2.2,People (thousands)
1881,K02000001,2016,oceania,outflow,definite job,Count,-3.1,1.7,People (thousands)
1883,K02000001,2016,oceania,outflow,looking for work,Count,-2.8,1.3,People (thousands)
1885,K02000001,2016,oceania,outflow,accompany or join,Count,-0.2,0.4,People (thousands)
1887,K02000001,2016,oceania,outflow,formal study,Count,-0.4,0.7,People (thousands)
1889,K02000001,2016,oceania,outflow,going home to live,Count,-1.0,0.9,People (thousands)
1891,K02000001,2016,oceania,outflow,other reasons,Count,-1.2,1.4,People (thousands)
1893,K02000001,2016,oceania,outflow,no reason stated,Count,-0.3,0.4,People (thousands)